#navbar-button {
  border-radius: 12px;
  border: 1px solid rgba(29, 209, 0, 0.4);
  background: rgba(29, 209, 0, 0.1);
}
.raleway-font{
  font-family: 'Raleway', sans-serif;
}
.inter-font{
  font-family: 'Inter', sans-serif;
}
/* banner section starts  */
#banner-photo{
  height: 550px;
  width: 1170px;
  border-radius: 32px;
  background: linear-gradient(180deg, rgba(3, 7, 18, 0.50) 0%, rgba(3, 7, 18, 0.00) 100%),url("../images/banner.png");
}
#banner-heading{
  margin-bottom: 20px;
}
#banner-paragraph{
  margin-bottom: 50px;
}
#banner-text-container{
 padding-top: 120px;
}

/* Coupon design starts here  */
.coupon-container{
  background-image: url("../images/Rectangle\ 8.png");
  height: 220px;
  width: 573px;
  display: flex;
  padding-left: 70px;
}
.coupon-heading{
  color: rgba(3, 7, 18, 0.80);
  font-family: Inter;
  font-size: 40px;
  font-weight: 900;
}
.coupon-sub-heading{
  color: rgba(3, 7, 18, 0.80);
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
}
.coupon-paragraph
{
  color: rgba(3, 7, 18, 0.50);
font-family: Inter;
font-size: 18px;
font-weight: 500;
}
.coupon-heading1{
  color: var(--base-black, #030712);
font-family: Raleway;
font-size: 32px;
font-weight: 700;
}

.coupon-paragraph1
{
  color: var(--base-black, rgba(3, 7, 18, 0.40));
font-family: Raleway;
font-size: 20px;
font-weight: 500;
}

.coupun-container1{
  background-image: url("../images/Rectangle\ 9.png");
  height: 220px;
  width: 573px;
  display: flex;
  padding-left: 70px;
}

@media screen and (max-width: 600px)
{
    #banner-photo{
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      height: auto;
    }
    #banner-text-container{
      padding-top: 60px;
    }
    #banner-heading{
      font-size: 24px;
      margin-bottom: 20px;
    }
    #banner-paragraph{
      font-size: 14px;
      margin-bottom: 30px;
      width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    #banner-button{
      font-size: 14px;
      margin-bottom: 50px;
      margin-left: auto;
      margin-right: auto;
    }
}
